html {
    scroll-behavior: smooth;
}

html, body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(45deg, rgba(21, 230, 174, 0.5) 0%, rgba(0, 207, 255, 0.5) 100%);
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 35px;
}

nav a {
    font-size: 22px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
}

.nav-selected a {
    color: black;
    background-color: #e5e2e2;
    padding: 15px;
    font-size: 22px;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    margin-left: 10px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

.dropdown-menu {
    display: none;
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .nav-links {
        display: none;
    }

    .nav-selected a {
        color: black;
        background-color: #e5e2e2;
        padding: 0px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 2px;
        font-size: 22px;
    }

    .hamburger-menu {
        display: block;
    }
}

main {
    flex: 1;
    padding: 20px;
    padding-top: 130px;
    height: 100%;
}

.hero {
    background-image: url('../img/hero-image.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    overflow: hidden;
    border-radius: 15px;
}

.hero-content {
    max-width: 600px;
}

.hero h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 28px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    scale: 1.25;
}

.btn:hover {
    background-color: #555;
}

.text-box {
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid #ddd;
    padding: 15px;
    margin: 25px;
    font-size: 25px;
}

.text-box h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.text-box h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.item {
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid #ddd;
    padding: 15px;
    margin-top: 30px; 
    margin-bottom: 20px;
    font-size: 25px; 
}

.contact-container img {
    width: 75px;
    height: 75;
}